// 全てのSCSSファイルにおいて共通で読み込まれるファイル群です
@use "sass:map";
@forward "setting";
@forward "function";
@forward "mixin";
@forward "extend";
@forward "mq";
@use "setting"as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 130px;
  font-family: map.get($fontfamily, "ja");
  color: #000;
  background: #fff;
}

main {
  flex: 1;
}
