// setting
@use "sass:map";

$palette: (
);
$color: (
);
$breakpoint: (
  "mobile": 0px,
  // > iPhone Max (Portlait)
  "tablet": 429px,
  // > iPad Pro (Portlait)
  "desktop": 835px,
  "wide": 1440px,
);
$fontfamily: (
  "ja": ("Noto Sans JP", sans-serif),
  "en": ("quasimoda", sans-serif),
);

$for-pc: 1200px;
$for-tablet: 835px;
$for-phone: $for-tablet - 1px;
$for-xs: 374px;
