// setting
@use "sass:map";

$palette: (
);
$color: (
);
$breakpoint: (
  "mobile": 0px,
  // > iPhone Max (Portlait)
  "tablet": 429px,
  // > iPad Pro (Portlait)
  "desktop": 835px,
  "wide": 1440px,
);
$fontfamily: (
);
